<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width">
  <script
      src="https://rawgit.com/dankogai/js-base64/master/base64.min.js"></script>

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57"
        href="assets/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60"
        href="assets/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72"
        href="assets/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76"
        href="assets/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
        href="assets/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
        href="assets/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
        href="assets/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
        href="assets/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
        href="assets/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="assets/favicons/favicon-32x32.png"
        sizes="32x32">
  <link rel="icon" type="image/png"
        href="assets/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="assets/favicons/favicon-96x96.png"
        sizes="96x96">
  <link rel="icon" type="image/png" href="assets/favicons/favicon-16x16.png"
        sizes="16x16">
  <link rel="manifest" href="assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage"
        content="assets/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <script>
    var query = {};
    location.hash.substr(1).replace(/\?/g, '&').split("&").forEach(function (item) {
      query[item.split("=")[0]] = item.split("=")[1] && decodeURIComponent(item.split("=")[1]);
    });
    if (query.theme) {
      var cssLink = '<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/';
      cssLink += query.theme;
      cssLink += '/bootstrap.min.css" />';
      document.write(cssLink);
    }
    else {
      document.write('<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />');
    }

    // Allow them to provide their own stylesheets.
    if (query.styles) {
      var styles = Base64.decode(query.styles);
      if (styles && styles.length) {
        document.write('<link rel="stylesheet" href="' + styles + '" />');
      }
    }
  </script>
  <style type="text/css">
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
  <link rel="stylesheet" href="https://npmcdn.com/ng-formio@latest/dist/formio-full.min.css"/>
</head>
<body ng-app="formioFormApp">
<script id="header" type="text/template">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" ng-cloak>{{ form.title }}</a>
      </div>
      <div class="collapse navbar-collapse">
        <p class="navbar-text navbar-right"><a href="https://form.io" class="navbar-link">powered by &lt;form.io&gt;</a></p>
      </div>
    </div>
  </nav>
</script>
<script>
  var bodyClass = '';
  if (!query.header || parseInt(query.header, 10)) {
    document.write(document.getElementById('header').innerHTML);
    bodyClass += 'hasheader ';
  }
  if (query.iframe && parseInt(query.iframe, 10)) {
    bodyClass += 'iframe ';
    if (!query.theme) {
      bodyClass += 'notheme ';
    }
  }
  if (bodyClass) {
    document.body.className = bodyClass;
  }
</script>

<!-- BROWSE HAPPY BEGINS HERE -->
<style>
  .browsehappy {
    display: block;
    width: 100%;
    height: 100px;
    background-color: #f2dede;
    margin: 0 0 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    line-height: 1.4;
    color: #333;
    padding-top: 15px;
    vertical-align: middle;
  }

  .hasheader .browsehappy {
    margin-top: 50px;
  }

  .browsehappy span {
    vertical-align: middle;
    margin: 20px 20px 20px 20px;
    background: url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
    height: 64px;
    width: 64px;
    display: inline-block;
  }

  .iframe.notheme {
    background-color: transparent;
  }

  .iframe .main {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .iframe .navbar .container {
    margin: 0;
    width: 100%;
  }

  .navbar .container .navbar-right {
    margin-right: 0;
  }

  .hasheader .main {
    margin-top: 70px;
  }
</style>
<!--[if IE 6]><p class="browsehappy"><img/>You are using an
  <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 7]><p class="browsehappy"><img
    src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png"/>You
  are using an <strong>outdated</strong> browser. Please <a
      href="http://browsehappy.com/">upgrade your browser</a> to improve your
  experience.</p><![endif]-->
<!--[if IE 8]><p class="browsehappy"><img
    src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png"/>You
  are using an <strong>outdated</strong> browser. Please <a
      href="http://browsehappy.com/">upgrade your browser</a> to improve your
  experience.</p><![endif]-->
<!--[if IE 9]><p class="browsehappy"><img
    src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png"/>You
  are using an <strong>outdated</strong> browser. Please <a
      href="http://browsehappy.com/">upgrade your browser</a> to improve your
  experience.</p><![endif]-->
<!-- BROWSE HAPPY ENDS HERE -->

<!-- Add the form.io form. -->
<div class="container main">
  <formio src="src"></formio>
</div>
<script src="https://npmcdn.com/ng-formio@latest/dist/formio-full.js"></script>
<script src="https://cdn.rawgit.com/travist/seamless.js/master/build/seamless.child.js"></script>
<script type="text/javascript">
  var parentPage = $.seamless.connect({
    container: 'div.main'
  });
  angular.module('formioFormApp', ['formio'])
      .config(['$locationProvider', function($locationProvider) {
        $locationProvider.hashPrefix('');
      }])
      .run(['$rootScope', '$location', 'Formio', '$http', function ($rootScope, $location, Formio, $http) {
        $rootScope.formioSrc = '';
        var path = $location.path();
        var query = $location.search();
        var form = query.form;
        var token = query.token;
        if (token) {
          // We must have a path or form to continue.
          if (!path && !form) {
            return;
          }
          else if (!form && path) {
            path = path.replace(/^\//, '');
            var paths = path.split('/');
            if (paths.length < 2) {
              return;
            }
            form = 'https://' + paths.shift() + '.form.io/' + paths.join('/');
          }
        }
        else {
          return;
        }

        // Setup the form.
        $rootScope.form = {};

        // Load the form.
        $rootScope.src = form;

        // Bind to the submission of the form.
        if (query.action) {
          $rootScope.$on('formSubmit', function (event, submission) {
            event.preventDefault();
            if (!submission) {
              return;
            }

            $http.post(query.action, submission, {
              headers: {
                'X-CSRF-Token': token
              }
            }).success(function (submission) {
              Formio.clearCache();
              $rootScope.$broadcast('submitDone', submission, 'Submission Complete');
              parentPage.send({formSubmission: submission});
            });
          });
        }
      }]);
</script>
</body>
</html>
